################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspireDemo.ServiceDefaults/obj
/AspireDemo.AppHost/bin/Debug/net9.0
/AspireDemo.AppHost/obj
/.vs/AspireDemo
